<footer>
    <div class="handles">
        <h3>Follow us : </h3>
        <a href="#"><img src="/images/instagramlogo.jpg" alt="instagramlogo" class="handle"></a>
        <a href="#"><img src="/images/facebooklogo.png" alt="facebooklogo" class="handle"></a>
        <a href="#"><img src="/images/twitterlogo.png" alt="twitterlogo" class="handle"></a>
        <a href="#"><img src="/images/whatsapplogo.png" alt="whatsapplogo" class="handle"></a>
    </div>
    <p>&copy; Budget Buddy Pvt Ltd . All Rights Reserved</p>
    <p>Parul university , Vadodara - 391760 , Gujarat , India</p>
</footer>
