<header class="nav-bar">
    <div class="logo-box">
        <img src="images/favicon.png" alt="logo" id="logo">
        <h1 id="logo-text">Budget Buddy</h1>
    </div>
    <nav class="links">
        <a href="/register" class="button">Register</a>
        <a href="/login" class="button">Log In</a>
    </nav>
</header>
