<div class="container1">
    <form action="/changepassword" method="post">
        <h1>Buddy password Changer</h1>
        <h2 style="color:yellow"><%= userLogged.message3 %></h2>
        <label for="oldpassword">Old Password </label>
        <input type="password" id="oldpassword" name="oldpassword" placeholder=" Enter your Old password : " required>

        <label for="newpassword">New Password </label>
        <input type="password" id="newpassword" name="newpassword" placeholder=" Enter your New password : " required>

        <label for="repassword">ReEnter New Password </label>
        <input type="password" id="repassword" name="repassword" placeholder=" ReEnter your New password : " required>
        <button type="submit">Change password</button>
    </form>
</div>
